/* About Us styles */
.about-us {
  img {
    width: 25vw;
    border-radius: 10px;
  }

  &.module {
    padding: 0;
  }

  section {
    margin-bottom: 3vw;
  }

  .bg-container {
    height: 32.5vw;

    background-image: url(../../public/bg_equipo.webp);

    section {
      place-items: center;
    }
  }

  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    .bg-container {
      height: 520px;
      padding: 96px 0 128px;
    }

    img {
      width: 400px;
    }
  }
}
