/* About Us styles */
.about-us {
  img {
    width: 75vw;
    margin: 8vh 0 8.14vw;
    border-radius: 10px;
  }

  section {
    margin-bottom: 3vw;
  }

  .bg-container {
    padding-bottom: 13vh;
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url(../../public/bg_equipo.webp);

    section {
      place-items: center;
    }
  }

  .module {
    margin-top: 0;
  }

  /* Media Query for tablet and desktop*/
  @media (min-width: 768px) {
    .bg-container {
      padding: 7vw 0 9vw;
      background-size: contain;
    }

    img {
      width: 21.875vw;
      margin: 0;
    }

    section {
      margin-bottom: 0;
    }
  }

  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    .bg-container {
      padding: 112px 0 144px;
    }

    img {
      width: 350px;
    }
  }
}
