/* Contact Us styles */
.contact-us {
  color: #fff;

  background-color: #f0f0f0;

  a {
    color: #fff;
    text-decoration: none;
  }

  h2 {
    margin-top: 5vw;
    text-align: center;
  }

  h4 {
    font-size: 7vw;
    margin: 4vw 0 6vw;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: 5vw;
  }

  .bg-container {
    padding: 6vw 0;
    background-size: cover;
    background-position: left top;
    background-image: url(../../public/bg_contactUs_mobile.png);
  }

  .module {
    margin-top: 7.5vw;
  }

  .footer-logo-container {
    text-align: center;
    margin-top: 14vw;

    img {
      width: 65%;
    }
  }

  /* Media Query for tablet and desktop*/
  @media (min-width: 768px) {
    .bg-container {
      padding-bottom: 3vw;
      background-size: contain;
      background-image: url(../../public/bg_contact.webp);
    }

    .module {
      margin-top: 4.38vw;
    }

    h4 {
      text-align: left;
      font-size: 1.5vw;
      margin: 0 0 2vw;
    }

    p {
      text-align: left;
      margin-top: 2vw;

      img {
        margin-right: 3vw;
      }
    }

    .footer-logo-container {
      margin-top: 0;
    }
  }

  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    h2 {
      margin-top: 60px;
    }

    h4 {
      font-size: 24px;
      margin-bottom: 32px;
    }

    .module {
      margin-top: 70px;
    }

    p {
      margin: 32px 0;

      img {
        margin-right: 48px;
      }
    }

    #logo_footer {
      width: 320px;
    }

    .bg-container {
      height: 240px;
      padding: 96px 0 128px;
    }
  }
}
