/* Contact Us styles */
.contact-us {
  color: #fff;

  a {
    color: #fff;
  }

  h2 {
    text-align: center;
    margin-top: 5vw;
  }

  .bg-container {
    height: 28vw;
    padding: 6vw 0 8vw;
    background-size: contain;
    background-image: url(../../public/bg_contact.webp);
  }

  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    h2 {
      margin-top: 60px;
    }
  }
}
