.slick-slide {
  position: relative;

  h2 {
    left: 8vw;
    top: 6.944vw;
    color: #fff;
    font-weight: 700;
    font-size: 2.833vw;
    line-height: 3.837vw;
    position: absolute;
  }
  & img {
    width: 100%;

    /* transform: scale(1.05); Scales the image by 1.5 times */
    /* transition: transform 0.3s ease-in-out; */
  }

  #sliderElement00 h2 {
    width: 37.531vw;
  }

  #sliderElement01 h2 {
    width: 75.063vw;
  }

  #sliderElement02 h2 {
    width: 71.531vw;
  }
}

.slick-dots {
  bottom: 3.33vw;

  li {
    button:before {
      font-size: 16px;
      color: #999999;
    }
    &.slick-active button:before {
      color: #f0640f;
    }
  }
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .slider-container {
    width: 100%;
    margin-bottom: 5vw;
  }

  .slick-dots {
    bottom: 0.5vw;
  }

  .slick-slide {
    overflow: hidden;
    height: 60vw;

    h2 {
      font-size: 5vw;
      line-height: 7vw;
    }

    #sliderElement00 h2 {
      width: 65vw;
    }

    #sliderElement01 h2 {
      width: 70vw;
    }

    #sliderElement02 h2 {
      width: 71.531vw;
    }

    img {
      transform: scale(2);
    }
  }
}

/* Media Query for Desktop Large, max width of the website */
// @media (min-width: 1200px) {
@media (min-width: 1600px) {
  .slick-slide {
    h2 {
      left: 95.94px;
      top: 83.27px;
      font-size: 33.97px;
      line-height: 46.01px;
    }

    #sliderElement00 h2 {
      width: 450px;
    }

    #sliderElement01 h2 {
      width: 900px;
    }

    #sliderElement02 h2 {
      width: 858px;
    }
  }

  .slick-dots {
    bottom: 40px;
  }
}
