/* Our Services styles */
.navbar {
  background-color: #fff;
  padding: 10px 0;
  position: relative;
  z-index: 10;
  /* display: flex; 
  justify-content: space-between;
  align-items: center;*/
}
