/* Our Services styles */
.our-services {
  h2 {
    text-align: center;
  }

  img {
    width: 100%;
  }

  section {
    place-items: center;
    gap: 0;
  }

  h3 {
    margin-left: 8vw;
  }

  p {
    margin: 0 8vw;
  }

  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    h3,
    p {
      margin-left: 128px;
    }
  }
}
