/* Testimonials styles */
.testimonials {
  margin-top: 5vw;
  text-align: center;

  .bg-container {
    height: 20vw;
    padding-top: 12vw;
    background-image: url('../../public/bg_testimonials.webp');
  }

  section {
    grid-template-columns: unset;
  }

  .testimonial-person-name {
    font-weight: bold;
  }

  .slick-slider {
    width: 60vw;
    margin: 0 auto;

    p {
      text-align: center;
    }

    .slick-arrow {
      top: 10%;

      &:before {
        color: #000;
        font-size: 10vw;
      }

      &.slick-prev {
        left: -4.688vw;
      }

      &.slick-prev:before {
        content: '\2039';
      }

      &.slick-next {
        right: -4.688vw;
      }

      &.slick-next:before {
        content: '\203A';
      }
    }
  }
  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    margin-top: 80px;

    .bg-container {
      height: 320px;
      padding-top: 192px;
    }

    .slick-slider {
      width: 960px;

      .slick-arrow {
        &.slick-prev {
          left: -75px;
        }
        &.slick-next {
          right: -75px;
        }
        &:before {
          font-size: 160px;
        }
      }
    }
  }
}
