/* General Styles */
body,
h1,
h2,
a {
  font-family: 'Merriweather Sans', sans-serif;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

h2 {
  color: #f0640f;
  font-size: 2.25vw;
  font-weight: 700;
  margin-bottom: 2.5vw;
}

h3 {
  color: #8e0047;
  font-size: 1.67vw;
  line-height: 3.33vw;
  font-weight: 400;
}

/* Common stuff for all modules*/
.module {
  margin-top: 5vw;
  padding: 0 3vw;
}

/* Media Query for tablet and desktop*/
@media (min-width: 768px) {
  .columns-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px; /* Optional gap between columns */
  }

  .column {
  }
}
/* Media Query for Desktop Large, max width of the website */
@media (min-width: 1600px) {
  // @media (min-width: 1200px) {
  h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 20px;
    line-height: 40px;
  }

  .module {
    margin-top: 60px;
  }
}
