/* About Us styles */
.about-us {
  img {
    width: 75vw;
    margin: 18vh 0 8.14vw;
    border-radius: 10px;
  }

  section {
    margin-bottom: 3vw;
  }

  .bg-container {
    padding-bottom: 24vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(../../public/bg_equipo.webp);

    section {
      place-items: center;
    }
  }

  .module {
    margin-top: 0;
    padding: 0 7.674vw;
  }

  /* Media Query for tablet and desktop*/
  @media (min-width: 768px) {
    .bg-container {
      padding: 9vw 0 11vw;
      background-size: 120% 95%;
    }

    img {
      width: 21.875vw;
      margin: 0;
    }

    section {
      margin-bottom: 0;
    }
  }

  /* Media Query for Desktop Large, max width of the website */
  @media (min-width: 1600px) {
    .bg-container {
      padding: 112px 0 144px;
      background-repeat: repeat-x;
    }

    img {
      width: 350px;
    }
  }
}
