.slider-container {
  width: 100%;
}

.top-slider {
  padding-top: 82.4px;

  .slick-slide {
    height: 60vw;
  }
}

.slick-slide {
  overflow: hidden;
  position: relative;

  h3 {
    font-size: 5vw;
    line-height: 7vw;

    left: 8vw;
    top: 6.944vw;
    color: #fff;
    font-weight: 700;
    position: absolute;
  }

  #sliderElement00 h3 {
    width: 65vw;
  }

  #sliderElement01 h3 {
    width: 70vw;
  }

  #sliderElement02 h3 {
    width: 71.531vw;
  }

  & img {
    width: 100%;
    transform: scale(2);
  }
}

.slick-dots {
  bottom: 0.5vw;

  li {
    button:before {
      font-size: 13px;
      color: #999999;
    }
    &.slick-active button:before {
      color: #f0640f;
    }
  }
}

/* Media Query for tablet and desktop*/
@media (min-width: 768px) {
  .top-slider {
    .slick-slide {
      height: 100%;
    }
  }
  .slick-slide {
    h3 {
      left: 8vw;
      top: 6.944vw;
      font-size: 2.833vw;
      line-height: 3.837vw;
    }

    #sliderElement00 h3 {
      width: 37.531vw;
    }

    #sliderElement01 h3 {
      width: 75.063vw;
    }

    #sliderElement02 h3 {
      width: 71.531vw;
    }

    & img {
      transform: scale(1);
    }
  }

  .slick-dots {
    bottom: 3.33vw;
    li {
      button:before {
        font-size: 16px;
      }
    }
  }
}

/* Media Query for Desktop Large, max width of the website */
// @media (min-width: 1200px) {
@media (min-width: 1600px) {
  .slick-slide {
    h3 {
      left: 95.94px;
      top: 83.27px;
      font-size: 33.97px;
      line-height: 46.01px;
    }

    #sliderElement00 h3 {
      width: 450px;
    }

    #sliderElement01 h3 {
      width: 900px;
    }

    #sliderElement02 h3 {
      width: 858px;
    }
  }

  .slick-dots {
    bottom: 40px;
  }
}
